<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        <a href= "<%= @bookmark.url %>"> <%= @bookmark.name %> </a>
        <small> <%= @bookmark.description %> </small>
      </h1>
    </div>
  </div>
</div>