<div class="bs-example">
    
    <div class="jumbotron">
      <center><h1>COLLEGE POINT</h1></center>
      <center><img src = "http://www.thurgoodmarshallfund.net/images/stories/site/stem/stem-hbcu-prog.jpg" width = 1100 height = 200></center> 
      
      <center><p>College Point is designed to provide resource information to college-bound students.  There are several features that help you explore majors, create a college-application plan and make and save previous school searches.</p></center>
      <div><a class="btn btn-primary btn-lg" role="button">Sign In</a> <a class="btn btn-primary btn-lg" role="button">Register</a></div>
      
    </div>
  </div>
  
  <div class="bs-example">
    <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
      <li class = "menu"><a href="#">Home</a></li>
      <li class = "menu"><a href="#">Search</a></li>
      <li class = "menu"><a href="#">Hisrotically Black Colleges and Universities</a></li>
      <li class = "menu"><a href="#">Technical Institutions</a></li>
      <li class = "menu"><a href="#">Ivy League Schools</a></li>
      <li class = "menu"><a href="#">Trade Schools</a></li>
    </ul>
  </div>