  <div class="stripe">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <img src=  <%= @url  %> alt="">
        </div>
      </div>
    </div>
   </div>


    
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="caption"><%= @caption %></div>
       </div>
     </div>
    </div> 